# Dado o nome de um ator, mostre seus principais filmes, media das notas de cada filme, o gênero de cada filme e o mais comum

In [2]:
#Importação dos módulos
import pandas as pd
from collections import Counter

In [3]:
#Leitura do DF com o nome do ator e filtragem das colunas importante

#df1= pd.read_csv("D:\\Dropbox\\Pessoal\\Python\\Lets\\Projeto_Modulo_3\\bases\\IMDb names.csv")
df1= pd.read_csv(r"C:\Users\Denise_\Documents\Pi_DS\Git\Projeto_Modulo_3\bases\IMDb names.csv")
df1 = df1[['imdb_name_id',"name",  'known_for_titles']]

In [4]:
#Leitura do DF com os dados dos filmes e filtragem das colunas importante

#df2= pd.read_csv("D:\\Dropbox\\Pessoal\\Python\\Lets\\Projeto_Modulo_3\\bases\\IMDb movies.csv")
df2= pd.read_csv(r"C:\Users\Denise_\Documents\Pi_DS\Git\Projeto_Modulo_3\bases\IMDb movies.csv")
df2 = df2[['imdb_title_id',"title","genre",  'avg_vote']]
df2.head()

,imdb_title_id,title,genre,avg_vote
0,tt0000574,The Story of the Kelly Gang,"Biography, Crime, Drama",6.1
1,tt0001892,Den sorte drøm,Drama,5.9
2,tt0002101,Cleopatra,"Drama, History",5.2
3,tt0002130,L'Inferno,"Adventure, Drama, Fantasy",7.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","Biography, Drama",5.7

In [18]:
from flask import Flask, request, current_app, jsonify

app = Flask(__name__)
@app.route("/nome_ator", methods=['POST'])
def nome_ator():
    nome = request.json
    
    try:
        result = ator(nome["ator"])
        return result, 200
    except:
        return "Ator não encontrado", 400
app.run()

#Função que recebe um nome de ator como str e printa o nome, principais filmes, média de votos de cada um e  seus gêneros

def ator(nome):
    lista = {}
    #Verificando se o nome se encontra na tabela
    if nome in df1["name"].unique():
        #Caso esteja seleciona apenas a coluna do df que corresponde aos principais filmes, transforma essa lista para str 
        # e depois separa por ,:
        filmes = df1['known_for_titles'][df1['name'] == nome]
        filmes = filmes.to_string(index=False)
        filmes = filmes.split(",", filmes.count(','))

        for i in filmes:
            i = i.strip()
            #Seleciona apenas a correnpondência de cada elemento na lista de filmes e printa os valores de cada coluna correspondente
            df3 =  df2.loc[df2['imdb_title_id'] == i]
            lista[str(df3['title'].values)] = [str(df3['genre'].values), str(df3['avg_vote'].values)]
        return lista

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [29/Jan/2020 20:15:05] "POST /nome_ator HTTP/1.1" 200 -