# Dado o nome de um filme, mostre seus principais atores, a media das suas notas e o seu gênero

In [1]:
#Importação dos módulos
import pandas as pd
from collections import Counter

In [2]:
#Leitura do DF com os dados dos filmes e filtragem das colunas importante

df1= pd.read_csv(r"C:\Users\Denise_\Documents\Pi_DS\Git\Projeto_Modulo_3\bases\IMDb movies.csv")
#df2= pd.read_csv(r"C:\Users\lsminervino\Dropbox\Pessoal\Python\Lets\Projeto_Modulo_3\bases\IMDb movies.csv")
df1 = df1[["title","genre", 'avg_vote',"actors"]]

In [7]:
#Dado o nome do filme retorna o título, o gênero, a média da nota e os atores

from flask import Flask, request, current_app, jsonify

app = Flask(__name__)
@app.route("/nome_filme", methods=['POST'])
def nome_filme():
    nome = request.json
    
    try:
        result = filme(nome["filme"])
        return result, 200
    except:
        return "Filme não encontrado", 400
app.run()


def filme(nome):
    lista = {}
    #Verificando se o nome se encontra na tabela
    if nome in df1["title"].unique():
        #Caso esteja seleciona apenas a coluna do df que corresponde aos principais filmes, transforma essa lista para str 
        # e depois separa por ,:
        df2= df1.loc[df1["title"] == nome]
        lista[nome] = [str(df2["genre"].values), str(df2['avg_vote'].values), str(df2["actors"].values)]
        return lista

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [29/Jan/2020 20:49:23] "POST /nome_filme HTTP/1.1" 200 -
127.0.0.1 - - [29/Jan/2020 20:49:53] "POST /nome_filme HTTP/1.1" 200 -
127.0.0.1 - - [29/Jan/2020 20:50:19] "POST /nome_filme HTTP/1.1" 200 -

In [6]:
df1.head()

,title,genre,avg_vote,actors
0,The Story of the Kelly Gang,"Biography, Crime, Drama",6.1,"Elizabeth Tait, John Tait, Norman Campbell, Be..."
1,Den sorte drøm,Drama,5.9,"Asta Nielsen, Valdemar Psilander, Gunnar Helse..."
2,Cleopatra,"Drama, History",5.2,"Helen Gardner, Pearl Sindelar, Miss Fielding, ..."
3,L'Inferno,"Adventure, Drama, Fantasy",7.0,"Salvatore Papa, Arturo Pirovano, Giuseppe de L..."
4,"From the Manger to the Cross; or, Jesus of Naz...","Biography, Drama",5.7,"R. Henderson Bland, Percy Dyer, Gene Gauntier,..."